/*--------------------BASE--------------------*/

body {
  width: 100%;
  margin: 0 auto;
	background-color: grey;
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	font-size: 30px;
}

form {
    margin-left: 15px;
}
/*-------------------LAYOUT-------------------*/
/*----------Header----------*/

.header {
	width: 50%;
  min-width: 1000px;
  max-width: 1000px;
	height: 50px;
  margin: 0 auto;
}

.header_background {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: black;
  opacity: 0.3;
  z-index: -1;
}

.header h1 {
  line-height: 50px;
  text-align: center;
  margin-top: 0;
}

.header_accueil {
	width: 20%;
  height: 50px;
	float: left;
}

.header_menu {
	height: 50px;
}

.header_menu li{
	list-style-type: none;
	margin-left: 5%;
  height: 50px;
  line-height: 50px;
}

.header_menu_btn {
	font-size: 30px;
  display: inline;
}

/*-----------Sidebar-----------*/

.sidebar {
  float: left;
	width: 200px;
	height: 900px;
	border: 3px solid orange;
}

.sidebar_title {
	text-align: center;
	font-size: 25px;
}

.sidebar_canvas {
	width: 180px;
	height: 730px;
	border: 3px solid brown;
	margin-left: 7px;
}

.sidebar_seeall {
	font-size: 20px;
	margin-top: 15px;
	text-align: center;
}

/*-----------Content-----------*/

.all-middle-content {
  width: 75%;
  min-width: 1000px;
  max-width: 1000px;
  margin: 0 auto;
}

.content {
	width: 1160px;
	height: 1030px;
	margin-left: 220px;
	border: 3px solid yellow;
    margin-top: 20px;
}

.content_camera {
  margin-left: 110px;
  margin-top: 50px;
  width: 930px;
  height: 700px;
}

.content_capture_btn {
  width: 100px;
  height: 40px;
  margin: 10px 10px 10px 530px;
  background-color: orange;
  border-radius: 100px;
  color: white;
}

.content_capture_btn:hover{
  width: 100px;
  height: 40px;
  margin: 10px 10px 10px 530px;
  background-color: orange;
  opacity: 0.8;
  border-radius: 100px;
  border: 1px black solid;
  color: black;
}

.content_stickers {
	width: 930px;
	height: 150px;
	margin-left: 100px;
	border: 10px solid white;

}

/*----------Footer----------*/

.footer {
  text-align: right;
  margin-right: 30px;
}


/*--------------------MODULE--------------------*/


.input_case {
    margin-left: 50px;
    width: 150px;
}

.form_btn {
    width: 50px;
}
/*--------------------STATE---------------------*/
